# Notebook creation

# Import notebook

In [7]:
import pandas as pd

# Import Pandas and any other Python modules

In [10]:
info = pd.read_csv("lapd/LAPD_Calls_for_Service_2021.csv")

In [12]:
info

,Incident_Number,Area_Occ,Rpt_Dist,Dispatch_Date,Dispatch_Time,Call_Type_Code,Call_Type_Text
0,PD21031500000011,77th Street,1265.0,03/15/2021 12:00:00 AM,00:08:27,242D,DOM VIOL
1,PD21030800002343,77th Street,1268.0,03/08/2021 12:00:00 AM,13:22:25,620D,DOM VIOL
2,PD21012600002393,N Hollywood,1543.0,01/26/2021 12:00:00 AM,13:18:18,242D,DOM VIOL
3,PD21031600000983,Olympic,2044.0,03/16/2021 12:00:00 AM,08:12:05,620D,DOM VIOL
4,PD21010100000337,Newton,1371.0,01/01/2021 12:00:00 AM,01:01:15,245DS,DOM VIOL SUSP
...,...,...,...,...,...,...,...
29934,PD21091400005440,Newton,1383.0,09/14/2021 12:00:00 AM,23:55:45,242DX,BATTERY DOMESTIC VIO
29935,PD21091700000639,Southeast,1844.0,09/17/2021 12:00:00 AM,04:47:46,242D,DOM VIOL
29936,PD21091800000133,Devonshire,1749.0,09/18/2021 12:00:00 AM,00:34:30,620DR,DOM VIOL R/O
29937,PD21091700004845,West Valley,1028.0,09/17/2021 12:00:00 AM,21:40:10,620D,DOM VIOL
29938,PD21091600005316,Hollenbeck,423.0,09/16/2021 12:00:00 AM,23:22:58,242D,DOM VIOL

# Run basic descriptives on a few columns in the dataframe

In [20]:
info["Area_Occ"].value_counts()

77th Street    3135
Southeast      2524
Newton         1965
Southwest      1821
Mission        1687
Rampart        1679
Harbor         1623
Olympic        1548
Central        1331
Hollenbeck     1296
N Hollywood    1248
Foothill       1198
Van Nuys       1171
Hollywood      1100
Topanga        1089
West Valley    1083
Devonshire     1018
Pacific        1007
Northeast       938
Wilshire        858
West LA         565
Outside          55
Name: Area_Occ, dtype: int64

In [ ]:
info[]